header {
    overflow: auto;
}
.links {
    color:black;
    text-decoration: none;
    font-family:arial,sans-serif;

}

.links:hover {
    cursor: pointer;
    text-decoration: underline;
}

#about {
    float: left;
    margin: 1em 1.5em;
    
}

#Store {
    float: left;
    margin-top: 1em;
}

#button {
    float: right;
    margin: 0.6em 1.5em;
    background-color: #1a73e8;
    border-radius: 5px;
    border: 1px solid #1a73e8;
    color:white;
    padding: 9px 23px;
    font-weight: bold;
    font-size:14px;
    

}

#dot {
    float:right;
    margin-top: 0.6em;
    margin-left: 1.5em;
}

#dot:hover {
    cursor: pointer
}

#images {
    float: right;
    margin-top: 1em;
    margin-left: 2em

}

#gmail {
    float: right;
    margin-top: 1em;
    margin-left: 2em

}




#container2{
    text-align: center;
    margin-top:15%;
}

#input {
    width: 550px;
    height: 50px;
    border: none;
    font-size: 14px;
    outline: none
    
}

#buyutec {
    position:relative;
    top: 10px;
    right:5px;
    width: 30px;
    height: 30px;
}

#mic {
    position: relative;
    top: 10px;
    left:5px;
    height: 30px;

}



#display {
    
    overflow:auto;
    border: 1px solid lightgray;
    width: 650px;
    margin-left: 600px;
    margin-top: 20px;
    text-align:center;
    border-radius: 100px;
    
}

#display:hover {
    -webkit-box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);
    box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);

}

#bottombuttons {
    text-align: center;
    margin-top: 40px;
}

#luck {
    margin-left:40px;
    width: 130px;
    height: 40px;
    background-color: #f8f9fa;
    border: none;
    outline: none;
    font-size:15px
    
}

#luck:hover {
    -webkit-box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);
    box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);
}

#searchButton {
    width: 130px;
    height: 40px;
    background-color: #f8f9fa;
    border:none;
    outline: none;
    font-size: 15px
}
#searchButton:hover {
    -webkit-box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);
    box-shadow: 2px 12px 52px -9px rgba(0,0,0,0.53);

}

#undertext {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    font-family: arial;
}

#topfooter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    background-color: rgb(233, 229, 229);
    
}

#bottomfooter{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height:60px;
    background-color: rgb(233, 229, 229);

}



